<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- NPC Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>

        <section class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'KRYX_RPG.Name' }}"/>
            </h1>

            <aside class="header-exp flexcol">
                <div class="cr">
                    <label>{{ localize "KRYX_RPG.AbbreviationCR" }}</label>
                    <input name="data.details.cr" type="text" value="{{labels.cr}}" placeholder="1"/>
                </div>
                <div class="charlevel rollable">
                    <label>{{ localize "KRYX_RPG.NpcLevel" }} {{data.details.level}}</label>
                    <span class="levels">{{className}}</span>
                </div>
            </aside>

            {{!-- Character Summary --}}
            <ul class="summary flexrow">
                <li style="display: flex">
                    <select class="actor-size" name="data.traits.size"
                            style="font-family: inherit; font-size: inherit; border:none">
                        {{#select data.traits.size}}
                            {{#each config.actorSizes as |label size|}}
                                <option value="{{size}}">{{label}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                </li>
                <li>
                    <input type="text" name="data.details.type" value="{{data.details.type}}"
                           placeholder="{{ localize 'KRYX_RPG.Type' }}"/>
                </li>
                <li>
                    <input type="text" name="data.details.source" value="{{data.details.source}}"
                           placeholder="{{ localize 'KRYX_RPG.Source' }}"/>
                </li>
                {{#if externalUrl}}
                    <li style="line-height: normal">
                        <a href="{{data.details.source}}">{{ localize "KRYX_RPG.ExternalUrl" }}</a>
                    </li>
                {{else}}
                    <li>
                        <input type="text" name="data.details.source" value="{{data.details.source}}"
                               placeholder="{{ localize 'KRYX_RPG.Source' }}"/>
                    </li>
                {{/if}}
                <li class="experience">
                    <span>{{data.attributes.expValue}} EXP</span>
                </li>
                <li class="proficiency">
                    <span>
                        {{ localize "KRYX_RPG.Proficiency" }}:
                        {{numberFormat data.attributes.prof decimals=0 sign=true}}
                    </span>
                </li>
            </ul>

            {{!-- Header Attributes --}}
            <ul class="attributes flexrow">
                <li class="attribute health">
                    <h4 class="attribute-name box-title rollable">{{ localize "KRYX_RPG.Health" }}</h4>
                    <div class="attribute-value multiple">
                        <input name="data.attributes.health.value" type="text" value="{{data.attributes.health.value}}"
                               data-dtype="Number" placeholder="10"/>
                        <span class="sep"> / </span>
                        <input name="data.attributes.health.max" type="text" value="{{data.attributes.health.max}}"
                               data-dtype="Number" placeholder="10"/>
                    </div>
                    <footer class="attribute-footer" style="display: flex">
                        <input name="data.attributes.health.formula" class="healthformula" type="text"
                               placeholder="{{ localize 'KRYX_RPG.HealthFormula' }}" style="flex: 2"
                               value="{{data.attributes.health.formula}}"/>
                        <input name="data.attributes.health.temp" type="text" class="temphealth"
                               placeholder="+{{ localize 'KRYX_RPG.Temp' }}" style="flex: 3"
                               value="{{data.attributes.health.temp}}" data-dtype="{{data.attributes.health.type}}"/>
                    </footer>
                </li>

                {{#each data.mainResources as |res id|}}
                    {{#if res.limit}}
                        <li class="attribute mana-or-stamina">
                            <h4 class="attribute-name box-title">{{ res.nameCapitalized }}</h4>
                            <div class="attribute-value multiple">
                                <input name="data.mainResources.{{id}}.remaining" type="text" value="{{res.remaining}}"
                                       data-dtype="Number" placeholder="10"/>
                                <span class="sep"> / </span>
                                <input name="data.mainResources.{{id}}.max" type="text" value="{{res.max}}"
                                       data-dtype="Number" placeholder="10" disabled/>
                            </div>
                            <footer class="attribute-footer">
                                <span>Limit: {{res.limit}}</span>
                                <span>DC: {{res.dc}}</span>
                            </footer>
                        </li>
                    {{/if}}
                {{/each}}

                <li class="attribute">
                    <h4 class="attribute-name box-title">{{ localize "KRYX_RPG.Defense" }}</h4>
                    <div class="attribute-value">
                        <input name="data.attributes.defense.value" type="text"
                               value="{{data.attributes.defense.value}}"
                               data-dtype="Number" placeholder="10"/>
                    </div>
                    <footer class="attribute-footer" style="display: flex">
                        <!-- I did some ugly css patching here to make this look okayish. sorry. -->
                        <label style="font-weight: bold; text-align: right; flex:2">Soak:</label>
                        <input name="data.attributes.defense.soak" style="text-align:left; flex:1; margin:inherit"
                               type="text" value="{{data.attributes.defense.soak}}" data-dtype="Number"
                               placeholder="0"/>
                    </footer>
                </li>

                <li class="attribute">
                    <h4 class="attribute-name box-title">{{ localize "KRYX_RPG.Speed" }}</h4>
                    <div class="attribute-value">
                        <input name="data.attributes.speed.value" type="text"
                               value="{{data.attributes.speed.value}}" placeholder="0"/>
                    </div>
                    <footer class="attribute-footer">
                        <input type="text" class="speed" name="data.attributes.speed.special"
                               value="{{data.attributes.speed.special}}"
                               placeholder="{{ localize 'KRYX_RPG.SpeedSpecial' }}"/>
                    </footer>
                </li>
            </ul>
        </section>
    </header>

    {{!-- Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="attributes">{{ localize "KRYX_RPG.Attributes" }}</a>
        <a class="item" data-tab="features">{{ localize "KRYX_RPG.Features" }}</a>
        <a class="item" data-tab="arsenal">{{ localize "KRYX_RPG.Arsenal" }}</a>
        <a class="item" data-tab="biography">{{ localize "KRYX_RPG.Biography" }}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="tab attributes flexrow" data-group="primary" data-tab="attributes">

            {{!-- Abilities and Saves --}}
            <ul class="ability-scores-and-saves flexrow">
                {{#each data.abilities as |ability id|}}
                    <li class="ability" data-ability="{{id}}">
                        <span class="ability-name box-title rollable">{{ability.label}}</span>
                        <input class="ability-value" name="data.abilities.{{id}}.value" type="text"
                               value="{{ability.signedValue}}" data-dtype="Number" placeholder="0"/>
                    </li>
                {{/each}}
                {{#each data.saves as |save id|}}
                    <li class="save {{#if save.proficiency}}proficient{{/if}}" data-save="{{id}}">
                        <h4 class="save-name box-title rollable">{{save.label}}</h4>
                        <div class="below-abilities flexrow">
                            <input type="hidden" name="data.saves.{{id}}.proficiency" value="{{save.proficiency}}"
                                   data-dtype="Number"/>
                            <a class="proficiency-toggle save-proficiency"
                               title="{{ localize 'KRYX_RPG.Proficiency' }}">{{{save.icon}}}</a>
                            <input class="save-value" type="text" value="{{save.signedValue}}"
                                   data-dtype="Number" placeholder="0" disabled/>
                        </div>
                    </li>
                {{/each}}
            </ul>

            {{!-- Skills --}}
            <ul class="skills-list">
                {{#each data.skills as |skill s|}}
                    <li class="skill flexrow {{#if skill.proficiency}}proficient{{/if}}" data-skill="{{s}}">
                        <input type="hidden" name="data.skills.{{s}}.proficiency" value="{{skill.proficiency}}"
                               data-dtype="Number"/>
                        <a class="proficiency-toggle skill-proficiency" title="{{skill.hover}}">{{{skill.icon}}}</a>
                        <h4 class="skill-name rollable">{{skill.label}}</h4>
                        <span class="skill-ability">{{skill.ability}}</span>
                        <span class="skill-mod">{{numberFormat skill.total decimals=0 sign=true}}</span>
                        <span class="skill-passive">({{skill.passive}})</span>
                    </li>
                {{/each}}
            </ul>

            <section class="center-pane flexcol">

                {{!-- Legendary Actions --}}
                <div class="counters">
                    <div class="counter flexrow legendary">
                        <h4>{{ localize "KRYX_RPG.LegAct" }}</h4>
                        <div class="counter-value">
                            <input type="text" name="data.resources.legact.value" data-dtype="Number" placeholder="0"
                                   value="{{data.resources.legact.value}}"/>
                            <span class="sep">/</span>
                            <input type="text" name="data.resources.legact.max" data-dtype="Number" placeholder="0"
                                   value="{{data.resources.legact.max}}"/>
                        </div>
                    </div>
                    <div class="counter flexrow legendary">
                        <h4>{{ localize "KRYX_RPG.LegRes" }}</h4>
                        <div class="counter-value">
                            <input type="text" name="data.resources.legres.value" data-dtype="Number" placeholder="0"
                                   value="{{data.resources.legres.value}}"/>
                            <span class="sep">/</span>
                            <input type="text" name="data.resources.legres.max" data-dtype="Number" placeholder="0"
                                   value="{{data.resources.legres.max}}"/>
                        </div>
                    </div>
                    <div class="counter flexrow lair">
                        <h4>{{ localize "KRYX_RPG.LairAct" }}</h4>
                        <div class="counter-value">
                            <input name="data.resources.lair.value" type="checkbox"
                                   value="{{data.resources.lair.value}}"
                                   data-dtype="Boolean" {{checked data.resources.lair.value}}/>
                            <input name="data.resources.lair.initiative" type="text"
                                   value="{{data.resources.lair.initiative}}"
                                   data-dtype="Number" placeholder="Init."/>
                        </div>
                    </div>
                </div>

                {{!-- Traits --}}
                {{> "systems/kryx_rpg/templates/actors/parts/actor-traits.html"}}
            </section>
        </div>

        {{!-- Feats & Features Tab --}}
        <div class="tab features flexcol" data-group="primary" data-tab="features">
            {{> "systems/kryx_rpg/templates/actors/parts/actor-features.html" sections=features}}
        </div>

        {{!-- Arsenal Tab --}}
        <div class="tab arsenal flexcol" data-group="primary" data-tab="arsenal">
            {{> "systems/kryx_rpg/templates/actors/parts/actor-arsenal.html"}}
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography flexcol" data-group="primary" data-tab="biography">
            {{editor
                    content=data.details.biography.value
                    target="data.details.biography.value"
                    button=true owner=owner editable=editable}}
        </div>
    </section>
</form>

