<form id="ability-use-form">
    <p>{{ title }}</p>
    <p class="notes">{{note}}</p>
    <div class="form-group">
        <label class="checkbox">{{ localize "KRYX_RPG.AbilityUseConsume" }} <input type="checkbox" name="consume"
                                                                                   checked/></label>
        {{#if hasPlaceableTemplate}}
            <label class="checkbox">{{ localize "KRYX_RPG.PlaceTemplate" }}
                <input type="checkbox" name="placeTemplate" checked/>
            </label>
        {{/if}}
    </div>
</form>
