<form id="spell-config-form">
    <!--    TODO make it "to cast the fireball spell", "to use the grapple maneuver", etc - probably through JS-->
    <p>{{ localize "KRYX_RPG.SuperpowerCastHint" }} <strong>{{item.name}}</strong> {{ localize "KRYX_RPG.spell" }}.</p>

    {{#unless canCast}}
    <!--    TODO different behavior for maneuvers, psi...-->
    <p class="notification error">{{ localize "KRYX_RPG.SuperpowerCastSpellNoResources" }}</p>
    {{/unless}}

    <div class="form-group">
        <label>{{ localize "KRYX_RPG.SuperpowerCastUpcast" }}</label>
        <div class="form-fields">
            <select name="cost">
                {{#select item.data.level}}
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                {{/select}}
            </select>
        </div>
    </div>

    <div class="form-group">
        {{#if canUpcast}}
        <label class="checkbox">{{ localize "KRYX_RPG.SuperpowerCastConsume" }} <input type="checkbox" name="consume"
                                                                                       {{checked canCast}}/></label>
        {{/if}}

        {{#if hasPlaceableTemplate}}
        <div class="form-group">
            <label class="checkbox">{{ localize "KRYX_RPG.PlaceTemplate" }}
                <input type="checkbox" name="placeTemplate" checked/>
            </label>
        </div>
        {{/if}}
    </div>
</form>
