<form autocomplete="off" onsubmit="event.preventDefault();">
    <ol class="trait-list" {{#if columnCount}} style="column-count: {{columnCount}}" {{/if}}>
        {{#each choices_ordered as |choice_ordered order|}}
            <li>
                <label class="checkbox">
                    <input type="checkbox" name="{{choice_ordered.key}}" data-dtype="Boolean"
                        {{checked choice_ordered.choice.chosen}}>
                    {{choice_ordered.choice.label}}
                </label>
            </li>
        {{/each}}
    </ol>
    {{#if allowCustom}}
        <div class="form-group stacked">
            <label>{{ localize "KRYX_RPG.TraitSelectorSpecial" }}</label>
            <input type="text" name="custom" value="{{custom}}" data-dtype="String"/>
        </div>
    {{/if}}
    <button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{ localize "KRYX_RPG.Save"}}</button>
</form>
