<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}"
                       placeholder="{{ localize 'KRYX_RPG.SuperpowerName' }}"/>
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{labels.typeNameCapitalized}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

            <ul class="summary flexrow">
                <li style="flex: 0.1">
                    <input type="number" name="data.cost" value="{{data.cost}}"
                           placeholder="{{ localize 'KRYX_RPG.SuperpowerBaseCost' }}"/>
                </li>
                <li style="flex: 0.4; margin-left: 5px">
                    <label>{{ labels.costNameCapitalized }}</label>
                </li>
                <li style="margin-left: 5px">
                    <a class="summary-themes" disallow-custom>{{labels.themes}}</a>
                </li>
                <li>
                    <input type="text" name="data.source" value="{{data.source}}"
                           placeholder="{{ localize 'KRYX_RPG.Source' }}"/>
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "KRYX_RPG.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "KRYX_RPG.Details" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "systems/kryx_rpg/templates/items/parts/item-description.html"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <h3 class="form-header">{{ localize "KRYX_RPG.SuperpowerDetails" }}</h3>

            {{!-- Availability --}}
            <div class="form-group input-select">
                <label>{{ localize "KRYX_RPG.SuperpowerAvailability" }}</label>
                <div class="form-fields">
                    <select name="data.availability">
                        {{#select data.availability}}
                        {{#each config.superpowerAvailability as |name key|}}
                        <option value="{{key}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>


            {{!-- Spell Components --}}
            <div class="spell-components form-group stacked">
                <label>{{ localize "KRYX_RPG.SpellComponents" }}</label>
                <label class="checkbox">
                    <input type="checkbox" name="data.components.verbal" {{checked data.components.verbal}}/> {{
                    localize "KRYX_RPG.ComponentVerbal" }}
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="data.components.somatic" {{checked data.components.somatic}}/> {{
                    localize "KRYX_RPG.ComponentSomatic" }}
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="data.components.material" {{checked data.components.material}}/> {{
                    localize "KRYX_RPG.ComponentMaterial" }}
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="data.components.concentration" {{checked
                           data.components.concentration}}/> {{ labels.concentration }}
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="data.components.ritual" {{checked data.components.ritual}}/> {{
                    localize "KRYX_RPG.Ritual" }}
                </label>
            </div>

            <h3 class="form-header">{{ localize "KRYX_RPG.SuperpowerActivationHeader" }}</h3>

            {{!-- Item Activation Template --}}
            {{> "systems/kryx_rpg/templates/items/parts/item-activation.html"}}

            <h3 class="form-header">{{ localize "KRYX_RPG.SuperpowerEffects" }}</h3>

            {{!-- Item Action Template --}}
            {{> "systems/kryx_rpg/templates/items/parts/item-action.html"}}

            {{!-- Spell Level Scaling --}}
            <div class="form-group">
                <label>{{ localize "KRYX_RPG.Scaling" }}</label>
                <div class="form-fields">
                    <select name="data.scaling.mode">
                        {{#select data.scaling.mode}}
                        <option value="none">{{localize "KRYX_RPG.ScalingNone"}}</option>
                        <option value="cantrip">{{localize "KRYX_RPG.ScalingCantrip"}}</option>
                        <option value="augment">{{localize "KRYX_RPG.ScalingAugment"}}</option>
                        <option value="enhance">{{localize "KRYX_RPG.ScalingEnhance"}}</option>
                        {{/select}}
                    </select>
                    <input type="text" name="data.scaling.formula" value="{{data.scaling.formula}}"
                           placeholder="{{ localize 'KRYX_RPG.ScalingFormula' }}"/>
                </div>
            </div>
        </div>
    </section>
</form>
