<div class="inventory-filters flexrow">
    <ul class="filter-list flexrow" data-filter="features">
        <li class="filter-item" data-filter="action">{{localize "KRYX_RPG.Action"}}</li>
        <li class="filter-item" data-filter="attack">{{localize "KRYX_RPG.Attack"}}</li>
        <li class="filter-item" data-filter="bonus">{{localize "KRYX_RPG.BonusAction"}}</li>
        <li class="filter-item" data-filter="reaction">{{localize "KRYX_RPG.Reaction"}}</li>
    </ul>
</div>

<ol class="inventory-list">
    {{#each sections as |section sid|}}
        <li class="inventory-header flexrow">
            <h3 class="item-name flexrow">{{localize section.label}}</h3>

            {{#if section.hasActions}}
                <div class="item-detail item-uses">{{localize "KRYX_RPG.Uses"}}</div>
                <div class="item-detail item-action">{{localize "KRYX_RPG.Usage"}}</div>
                <div class="item-detail item-feature-type">{{localize "KRYX_RPG.FeatureType"}}</div>
            {{/if}}

            {{#if ../owner}}
                <div class="item-controls">
                    <a class="item-control item-create" title="{{localize 'KRYX_RPG.FeatureAdd'}}"
                        {{#each section.dataset as |v k|}}
                       data-{{k}}="{{v}}"
                        {{/each}}>
                        <i class="fas fa-plus"></i> {{localize "KRYX_RPG.Add"}}
                    </a>
                </div>
            {{/if}}
        </li>

        <ol class="item-list">
            {{#each section.items as |item iid|}}
                <li class="item flexrow {{#if isDepleted}}depleted{{/if}}" data-item-id="{{item._id}}">
                    <div class="item-name flexrow rollable">
                        <div class="item-image" style="background-image: url({{item.img}})"></div>
                        <h4>{{item.name}}</h4>
                    </div>

                    {{#if item.labels.canBeActivated}}
                        <div class="item-name feature-activated">
                            <a class="item-control item-toggle {{item.toggleClass}}" title='{{item.toggleTitle}}'>
                                <i class="fas fa-star-half-alt"></i>
                            </a>
                        </div>
                    {{/if}}

                    {{#if section.hasActions}}
                        <div class="item-detail item-uses">
                            {{#if item.isOnCooldown}}
                                <a class="item-recharge rollable">{{item.labels.recharge}}</a>
                            {{else if item.data.recharge.value}}
                                {{localize "KRYX_RPG.Charged"}}

                            {{else if item.hasUses}}
                                <input type="text" value="{{item.data.uses.value}}"
                                       placeholder="0"/>/ {{item.data.uses.max}}
                            {{/if}}
                        </div>

                        <div class="item-detail item-action">
                            {{#if item.data.activation.type }}
                                {{item.labels.activation}}
                            {{/if}}
                        </div>

                    {{else if section.isClass}}
                        <div class="item-detail player-class">
                            {{item.data.subclass}}
                        </div>
                        <div class="item-detail item-action">
                            Level {{item.data.levels}}
                        </div>
                    {{/if}}

                    <div class="item-detail item-feature-type">
                        {{item.labels.featureTypeName}}
                    </div>

                    {{#if ../../owner}}
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    {{/if}}
                </li>
            {{/each}}
        </ol>
    {{/each}}
</ol>
