<div class="inventory-filters aarsenal-filters flexrow">
    <ul class="filter-list flexrow" data-filter="arsenal">
        <li class="filter-item" data-filter="action">{{localize "KRYX_RPG.Action"}}</li>
        <li class="filter-item" data-filter="2 actions">{{localize "KRYX_RPG.TwoActions"}}</li>
        <li class="filter-item" data-filter="attack">{{localize "KRYX_RPG.Attack"}}</li>
        <li class="filter-item" data-filter="reaction">{{localize "KRYX_RPG.Reaction"}}</li>
        <li class="filter-item" data-filter="concentration">{{localize "KRYX_RPG.AbbreviationConc"}}</li>
        <li class="filter-item" data-filter="ritual">{{localize "KRYX_RPG.Ritual"}}</li>
    </ul>
</div>

<ol class="items-list inventory-list">
    {{#each arsenal as |section|}}
        <li class="items-header flexrow arsenal-header">
            <div class="item-name flexrow">
                <h3>{{section.label}}</h3>
            </div>

            <!-- not sure if I want the column to say "Mana"/"Stamina"/"Catalysts", or "Cost"... -->
            <div class="superpower-cost">{{section.resourceName}}</div>
<!--            <div class="superpower-cost">{{localize "KRYX_RPG.SuperpowerCost"}}</div>-->
            <div class="superpower-theme">{{localize "KRYX_RPG.Theme"}}</div>
            <div class="superpower-action">{{localize "KRYX_RPG.SuperpowerUsage"}}</div>
            <div class="superpower-target">{{localize "KRYX_RPG.SuperpowerTarget"}}</div>

            <div class="item-controls flexrow">
                {{#if section.canCreate}}
                    <a class="item-control item-create" title="{{localize 'KRYX_RPG.SuperpowerCreate'}}" {{#each
                            section.dataset as |v k|}}data-{{k}}="{{v}}" {{/each}}>
                        <i class="fas fa-plus"></i> {{localize "KRYX_RPG.Add"}}
                    </a>
                {{/if}}
            </div>
        </li>

        <ol class="item-list">
            {{#each section.superpowers as |item i|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-name flexrow rollable">
                        <div class="item-image" style="background-image: url('{{item.img}}')"></div>
                        <h4 class="tooltipped">
                            {{item.name}}
                        </h4>
                        {{#if item.data.chatFlavor }}
                            <span class="tooltip">
                                <span class="tooltiptext">
                                    {{item.data.chatFlavor}}
                                </span>
                            </span>
                        {{/if}}
                        {{#if item.data.uses.per }}
                            <div class="item-detail superpower-uses">
                                Uses {{item.data.uses.value}} / {{item.data.uses.max}}
                            </div>
                        {{/if}}
                    </div>

                    <div class="spell-comps">
                        {{#each item.labels.components}}
                            <span class="spell-component {{this}}">{{this}}</span>
                        {{/each}}
                    </div>
                    <div class="superpower-cost">{{item.data.cost}}</div>
                    <div class="superpower-theme">{{item.labels.mainTheme}}</div>
                    <div class="superpower-action">{{item.labels.activation}}</div>
                    <div class="superpower-target" title="{{localize 'KRYX_RPG.Range'}}: {{labels.range}}">
                        {{#if item.labels.targetWithRange}}
                            {{item.labels.targetWithRange}}
                        {{else}}
                            None
                        {{/if}}
                    </div>


                    {{#if ../../owner}}
                        <div class="item-controls flexrow">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    {{/if}}
                </li>
            {{/each}}
        </ol>
    {{else}}
        {{#if owner}}
            {{#if filters.arsenal.size}}
                <li class="item flexrow"><p class="notes">{{localize "KRYX_RPG.FilterNoSpells"}}</p></li>
            {{else}}
                <li class="item flexrow inventory-header arsenal-header arsenal-empty">
                    <div class="item-controls flexrow">
                        <a class="item-control item-create" title="{{localize 'KRYX_RPG.SuperpowerCreate'}}"
                           data-type="spell" data-level="{{lvl}}">
                            <i class="fas fa-plus"></i> {{localize "KRYX_RPG.SuperpowerAdd"}}
                        </a>
                    </div>
                </li>
            {{/if}}
        {{/if}}
    {{/each}}
</ol>
